form{
    box-shadow: 10px 10px 10px teal;
    font-family: 'Courier New', Courier, monospace;
    max-width: 500px;
    padding: 30px 30px;
    margin: auto;
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
input{
    font-family: 'Courier New', Courier, monospace;
}
button{
    font-family: 'Courier New', Courier, monospace;
    background-color: orange;
}
button:hover{
    background-color: teal;
}
select{
    font-family: 'Courier New', Courier, monospace;
}
